<form class="ui large form segment">
  <h3 class="ui header">Aggiungi un link</h3>
  <div class="field">
    <label for="title">Titolo: </label>
    <input name="title" id="title" #newTitle>
  </div>
  <div class="field">
    <label for="link">Link: </label>
    <input name="link" id="link" #newLink>
  </div>

  <button (click)="addPost(newTitle, newLink)" class="ui button">Aggiungi Link</button>
</form>

<div class="ui grid posts">
  <app-post *ngFor="let p of posts" [post]="p">
  </app-post>
</div>
